<% provide(:title, "Modifica Utente") %>
<h1>Modifica il tuo Profilo</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name, "Nome" %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "Cognome" %>
      <%= f.text_field :last_name %>

      <%= f.label :nickname, "Username" %>
      <%= f.text_field :nickname %>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Conferma Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Salva Modifiche", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Cambia..</a>
  </div>
</div>